<div class="seichou">
  <header>
    <header>
  <div class="seichou-header">
      <div class="seichou-title">
        <%= link_to "たけのこ", root_path %>
      </div>
      <div class="seichou-new">
        <%= link_to "もどる", records_path %>
      </div>
  </div>
</header>
  </header>

  <main>
    <div class="seichou-main">
      <div class="main-contents">
        <div class="month">
          <div class="menu-title">アルバム</div>
          <select class="menu" id="month" onChange="location.href=value;">
            <option value="">月を選択してください</option>
            <option value="">1月のアルバム</option>
            <option value="">2月のアルバム</option>
            <option value="">3月のアルバム</option>
            <option value="">4月のアルバム</option>
            <option value="">5月のアルバム</option>
            <option value="">6月のアルバム</option>
            <option value="">7月のアルバム</option>
            <option value="/eight">8月のアルバム</option>
            <option value="/nine">9月のアルバム</option>
            <option value="">10月のアルバム</option>
            <option value="">11月のアルバム</option>
            <option value="">12月のアルバム</option>
          </select>
        </div>
        <div class="records">
          <div class="memory">おもいで</div>
          <% @eight.each do |eight| %>
            <div class="records-content">
            <div class="title-date">
              <%= eight.created_at.strftime('%Y/%m/%d')%>
              <%= link_to eight.title, "#" %>
            </div>
            <div class="record-text"><%= eight.content.truncate(50) %></div>
            </div>
          <% end %>
        </div>
        <div class="record">
          <div class="title-date">
          </div>
        </div>
      </div>
    </div>
  </main>

</div>