<div class="screen">
<header class="header">
      <div class="header_bar">
        <h1 class="header-title">たけのこ</h1>
        <div class="user">
        <% if user_signed_in? %>
          <%= link_to current_user.name, edit_user_path(current_user.id) %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to "新規登録", new_user_registration_path %>
        </div>
        <% end %>
      </div>
    </header>

  <div class="home-main">
    <div class="animation-area">
      <div class="overlay"></div>
      <div id='animation'></div>
      <div id="circle">
        <div class="contents one">
          <%= link_to "せいちょうきろく", records_path %>
        </div>
        <div class="contents two">
          <%= link_to "かけいぼ", "#" %>
        </div>
        <div class="contents three">
          <%= link_to "めも", "#" %>
        </div>
      </div>
    </div>
  </div>
  <div class="control">
    <%= image_tag 'arrow.png', id: 'upBtn' %>
    <h3>カテゴリー</h3>
    <%= image_tag 'arrow.png', id: 'downBtn' %>
  </div>
</div>