<div class="seichou">
  <header>
    <div class="seichou-header">
        <div class="seichou-title">
          <%= link_to "たけのこ", root_path %>
        </div>
        <div class="seichou-new">
          <%= link_to "きろくをつくる", new_record_path %>
        </div>
    </div>
  </header>

  <main>
    <div class="seichou-main">
      <div class="main-contents">
        <div class="tag-area">
          <div class="tag-search">
            <% @tag_lists.first(1).each do |list| %>
              <div class="tag-one"><%= link_to "タグで検索する", tag_path(tag_id: list.id) %></div>
            <% end %>
          </div>
        </div>
        <div class="records">
          <div class="memory">おもいで</div>
          <% @records.first(10).each do |record| %>
            <div class="records-content">
            <div class="title-date">
              <%= record.created_at.strftime('%Y/%m/%d')%>
              <%= link_to record.title, record_path(record.id) %>
            </div>
            <div class="record-text"><%= record.content.truncate(50) %></div>
            </div>
          <% end %>
        </div>
        <div class="record">
          <div class="title-date">
          </div>
        </div>
      </div>
    </div>
  </main>

</div>