<div class="seichou">
<header>
  <div class="seichou-header">
      <div class="seichou-title">
        <%= link_to "たけのこ", root_path %>
      </div>
      <div class="seichou-new">
        <%= link_to "きろくをつくる", new_record_path %>
      </div>
  </div>
</header>

<main>
  <div class="seichou-main">
    <div class="records">
      <div class="record">
        <% @record.each do |record| %>
          <div class="title-date">
            <%= record.created_at.strftime('%Y/%m/%d')%>
            <%= record.title %>
          </div>
          <div class="image"><%= record.image %></div>
          <div class="content"><%= record.content %></div>
        <% end %>
      </div>
    </div>
  </div>
</main>










</div>