<div class="seichou">
  <header>
    <div class="seichou-header">
        <div class="seichou-title">
          <%= link_to "たけのこ", root_path %>
        </div>
        <div class="seichou-new">
          <%= link_to "きろくをつくる", new_record_path %>
        </div>
    </div>
  </header>

  <main>
    <div class="seichou-main">
      <div class="main-contents">
        <div class="month">
          <div class="menu-title">アルバム</div>
          <select class="menu">
            <option>月を選択してください</option>
            <option>1月のアルバム</option>
            <option>2月のアルバム</option>
            <option>3月のアルバム</option>
            <option>4月のアルバム</option>
            <option>5月のアルバム</option>
            <option>6月のアルバム</option>
            <option>7月のアルバム</option>
            <option>8月のアルバム</option>
            <option>9月のアルバム</option>
            <option>10月のアルバム</option>
            <option>11月のアルバム</option>
            <option>12月のアルバム</option>
          </select>
        </div>
        <div class="records">
          <div class="omoide">おもいで</div>
          <% @records.each do |record| %>
            <div class="records-content">
            <div class="title-date">
              <%= record.created_at.strftime('%Y/%m/%d')%>
              <%= link_to record.title, record_path(record.id) %>
            </div>
            <div class="record-text"><%= record.content.truncate(50) %></div>
            </div>
          <% end %>
        </div>
        <div class="record">
          <div class="title-date">
          </div>
        </div>
      </div>
    </div>
  </main>

</div>