<header>
  <div class="seichou-header">
      <div class="seichou-title">
        <%= link_to "たけのこ", root_path %>
      </div>
      <div class="seichou-new">
        <%= link_to "一覧", records_path %>
      </div>
  </div>
</header>
<div class="contents row">
  <div class="container">
    <%= form_with(model: @record, local: true) do |form| %>
      <div><%= form.text_field :title, placeholder: "タイトル" %></div>
      <div><%= form.file_field :image %></div>
      <div><%= form.text_area :content, placeholder: "思い出", rows: "10" %></div>
      <div>
      <%= form.text_field :height, placeholder: "身長" %>
      <%= form.text_field :weight, placeholder: "体重" %>
      </div>
      <%= form.submit "作成" %>
    <% end %>
  </div>
</div>