<div class="new-main">
<header>
  <div class="seichou-header">
      <div class="seichou-title">
        <%= link_to "たけのこ", root_path %>
      </div>
      <div class="seichou-new">
        <%= link_to "もどる", records_path %>
      </div>
  </div>
</header>
<div class="contents-new">
  <div class="new">
  <div class="container">
    <%= form_with(model: @record, id: 'new_post', local: true) do |form| %>
      <div class="image-preview">
        <div id="previews"></div>
        <div id="preview-none"><%= image_tag "20200501_noimage.png" %></div>
        <div class="image-form"><%= form.file_field :image %></div>
      </div>
      <div><%= form.text_field :title, placeholder: "タイトル", maxlength: "10" %></div>
      <div><%= form.text_area :content, placeholder: "おもいで", maxlength: "200" %></div>
      <div>
      <%= form.text_field :height, placeholder: "しんちょう", maxlength: "3" %>
      <%= form.text_field :weight, placeholder: "たいじゅう", maxlength: "4" %>
      </div>
      <%= form.submit "さくせい" %>
    <% end %>
  </div>
  </div>
</div>
</div>