<div class="seichou">
  <header>
    <div class="seichou-header">
        <div class="seichou-title">
          <%= link_to "たけのこ", root_path %>
        </div>
        <div class="seichou-new">
          <%= link_to "きろくをつくる", new_record_path %>
        </div>
    </div>
  </header>

  <main>
    <div class="seichou-main">
      <div class="main-contents">
        <div class="tag-area">
          <div class="tag-search">
            <% @tag_lists.first(1).each do |list| %>
              <div class="tag-one"><%= link_to "タグで検索する", tag_path(tag_id: list.id) %></div>
            <% end %>
          </div>
        </div>
        <div class="records">
          <div class="edit-delete">
            <div class="memory">おもいで</div>
            <div class="edit-delete-btn" id="fadein-btn">
              <div><%= link_to "ぬりかえる", edit_record_path(@record.id) %></div>
              <div><%= link_to "けす", record_path(@record.id), method: :delete %></div>
            </div>
            <script>$("#fadein-btn").fadeIn(1000);</script>
          </div>
          <% @records.first(10).each do |record| %>
            <div class="records-content">
              <div class="title-date">
                <%= record.created_at.strftime('%Y/%m/%d')%>
                <%= link_to record.title, record_path(record.id) %>
              </div>
              <div class="record-text"><%= record.content.truncate(50) %></div>
            </div>
          <% end %>
        </div>
        <div class="record">
          <div class="record-width">
            <div class="content" id="fadein-content"><%= simple_format(@record.content) %></div>
            <div class="image" id="fadein-image">
              <%= image_tag @record.image.variant(resize: '500x500') %>
              <div class="record-height-weight">
                <% if @record.height.present? %>
                  <%= "身長:#{@record.height}cm" %>
                <% end %>
                <% if @record.weight.present? %>
                  <% if @record.weight < 1000 %>
                    <%= "体重:#{@record.weight}kg" %>
                  <% else %>
                    <%= "体重:#{@record.weight}g" %>
                  <% end %>
                <% end %>
              </div>
              <div class="show-tag">
              <% @record.tags.each do |tag| %>
                <%= "##{tag.name_tag}" %>
              <% end %>
              </div>
            </div>
            <div class="date-title" id="fadein-title">
                <%= @record.created_at.strftime('%Y/%m/%d') %>
                <%= @record.title %>
            </div>
            <script>$("#fadein-content").fadeIn(1000);</script>
            <script>$("#fadein-image").fadeIn(1000);</script>
            <script>$("#fadein-title").fadeIn(1000);</script>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>