<div class="seichou">
  <header>
    <div class="seichou-header">
        <div class="seichou-title">
          <%= link_to "たけのこ", root_path %>
        </div>
        <div class="seichou-new">
          <%= link_to "きろくをつくる", new_record_path %>
        </div>
    </div>
  </header>

  <main>
    <div class="seichou-main">
      <div class="main-contents">
        <div class="records">
          <% @records.each do |record| %>
            <div class="records-content">
            <div class="title-date">
              <%= record.created_at.strftime('%Y/%m/%d')%>
              <%= link_to record.title, record_path(record.id) %>
            </div>
            <div calss="record-text"><%= record.content.truncate(30) %></div>
            </div>
          <% end %>
        </div>
        <div class="record">
          <div class="title-date">
              <%= @record.created_at.strftime('%Y/%m/%d') %>
              <%= @record.title %>
          </div>
          <div class="image"><%= @record.image %></div>
          <div class="content"><%= @record.content %></div>
        </div>
      </div>
    </div>
  </main>

</div>