<div class="seichou">
  <header>
    <div class="seichou-header">
        <div class="seichou-title">
          <%= link_to "たけのこ", root_path %>
          <h1>Ajax#index</h1>
          <p id="hoge">赤色になるよ</p>
          <script>
            $("#hoge").css("color","red")
          </script>
        </div>
        <div class="seichou-new">
          <%= link_to "きろくをつくる", new_record_path %>
        </div>
    </div>
  </header>

  <main>
    <div class="seichou-main">
      <div class="main-contents">
        <div class="month">
          <div class="menu-title">アルバム</div>
          <select class="menu" id="month" onChange="location.href=value;">
            <option value="">月を選択してください</option>
            <option value="">1月のアルバム</option>
            <option value="">2月のアルバム</option>
            <option value="">3月のアルバム</option>
            <option value="">4月のアルバム</option>
            <option value="">5月のアルバム</option>
            <option value="">6月のアルバム</option>
            <option value="">7月のアルバム</option>
            <option value="/eight">8月のアルバム</option>
            <option value="/nine">9月のアルバム</option>
            <option value="">10月のアルバム</option>
            <option value="">11月のアルバム</option>
            <option value="">12月のアルバム</option>
          </select>
        </div>
        <div class="records">
          <div class="edit-delete">
            <div class="memory">おもいで</div>
            <div class="edit-delete-btn">
              <div><%= link_to "ぬりかえる", edit_record_path(@record.id) %></div>
              <div><%= link_to "けす", record_path(@record.id), method: :delete %></div>
            </div>
          </div>
          <% @records.first(10).each do |record| %>
            <div class="records-content">
            <div class="title-date">
              <%= record.created_at.strftime('%Y/%m/%d')%>
              <%= link_to record.title, record_path(record.id) %>
            </div>
            <div class="record-text"><%= record.content.truncate(50) %></div>
            </div>
          <% end %>
        </div>
        <div class="record">
          <div class="record-width">
          <div class="content"><%= simple_format(@record.content) %></div>
          <div class="image"><%= image_tag @record.image.variant(resize: '500x500') %></div>
          <div class="date-title">
              <%= @record.created_at.strftime('%Y/%m/%d') %>
              <%= @record.title %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>